trigger:
  - main
  
pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: JavaToolInstaller@0
    inputs:
      versionSpec: '17'
      jdkArchitectureOption: 'x64'
      jdkSourceOption: 'PreInstalled'

  - script: mvn clean test package
    displayName: "Compilar, ejecutar pruebas y empaquetar"
