services:
  db:
    image: mysql:8.0
    container_name: mysql_adminscan
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: adminscan
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./db-init/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - adminsan_net
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      timeout: 20s
      retries: 10

  app:
    build: .
    container_name: adminscan_web
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: adminscan
      DB_USER: root
      DB_PASSWORD: root
    networks:
      - adminsan_net

  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    user: root
    ports:
      - "8081:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - adminsan_net

volumes:
  db_data:
  jenkins_home:

networks:
  adminsan_net: